@import "scss/utils";

.form_wrapper {
  max-height: 195px;
  width: 60%;
  display: flex;
  align-items: flex-start;
  @include laptopWidth {
    align-items: center;
    width: 50%;
  }
  @include thousendWidth {
    max-height: 100%;
    width: 100%;
    flex-direction: column;
  }
}

.form {
  height: 110px;
  width: 100%;
  display: flex;
  grid-column-gap: 30px;
  background: $dark-main;
  padding: 0 34px;
  border-radius: 30px;
  @include laptopWidth {
    height: 100%;
    padding: 0 30px 35px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  @include thousendWidth {
    flex-direction: row;
  }
  @include phoneOrTablet {
    flex-direction: column-reverse;
    padding: 0 30px 30px;
  }

}

.input_name {
 padding-top: 10px;
  width: 65%;
  @include laptopWidth {
    width: 100%;
  }
  @include thousendWidth {
    padding-top: 0;
    width: 65%;
  }
  @include phoneOrTablet {
    padding-top: 5px;
    width: 100%;
  }
}

.input_count {
  padding-top: 10px;
  width: 35%;
  @include laptopWidth {
    width: 100%;
  }
  @include thousendWidth {
    padding-top: 0;
    width: 30%;
  }
  @include phoneOrTablet {
    padding-top: 10px;
    width: 100%;
  }
}

.form_button {
  background: $accent-color;
  color: white;
  padding: 14px;
  margin: 25px 0 0 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: .3s all ease-in-out;
  &:hover {
    background-color: $accent-color-darker;
  }
  @include laptopWidth {
    margin-top: 0;
  }
  @include thousendWidth {
    margin: 20px 0 0 0;
    padding: 13px 15px;
  }
  @include phoneOrTablet {
    margin-top: 10px;
    padding: 12px 14px;
  }
}

.button_arrow {
  width: 24px;
  height: 24px;
  margin-left: 3px;
  transform: rotate(-90deg);
  @include thousendWidth {
    margin: 3px 0 0 2px;
    transform: rotate(0deg);
    height: 22px;
    width: 22px;
  }
  @include phoneOrTablet {
    height: 20px;
    width: 20px;
  }
}