@import "scss/utils";

.tooltip {
  @include MontserratMediumBold(16px);
  color: white;
  text-align: right;
  margin: 10px 0;
  @include thousendWidth {
    font-size: 14px;
  }
  @include phoneOrTablet {
    font-size: 12px;
  }
}

.button_wrapper {
  min-width: 300px;
  @include thousendTwoWidth {
    font-size: 16px;
  }
  @include phoneOrTablet {
    min-width: 0;
    white-space: pre-wrap;
  }
  @include phone {
    font-size: 14px;
  }
}