@import "scss/utils";

.tooltip {
  @include MontserratMediumBold(22px);
  color: white;
  text-align: center;
  margin: 20px 0;
  @include thousendWidth {
    font-size: 20px;
  }
  @include phoneOrTablet {
    font-size: 18px;
  }
}