@import "scss/utils";


.custom_title_wrapper {
  width: calc(100% - 90px);
  margin: 40px auto 0;
  @extend .page_title_with_table_back_button;
  @include phoneOrTablet {
    width: calc(100% - 40px);
  }
  & h1 {
    margin-right: 10px;
  }
}

