@import "scss/utils";

.button_wrapper {
  margin-bottom: 10px;
  @include laptopWidth {
    margin-bottom: 20px;
  }
}

.card_info_children {
  @extend .children;
  @include phoneOrTablet {
    width: calc(100% - 20px);
  }
}