@import "scss/utils";

.error_wrapper {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  & h2 {
    @include MontserratSemiBold(28px);
    margin-bottom: 20px;
    color: white;
  }
}

.main_layout {
  height: 100%;
  display: flex;
}

.children_layout {
  width: 100%;
  min-height: calc(100dvh - 90px);
  display: flex;
  flex-direction: column;
  background: $additional-dark;
  @include phoneOrTablet {
    min-height: calc(100dvh - 92px);
  }
}

.home_wrapper {
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.main_title {
  @extend .page_title
}

.short_info_wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  margin-bottom: 20px;
  @include thousendTwoWidth {
    column-gap: 20px;
  }
  @include phoneOrTablet {
    flex-direction: column;
    row-gap: 10px;
  }
}
