@import "scss/utils";

.pick_list_wrapper {
  height: 100%;
  width: 700px;
  margin-top: 30px;
  @include fullHd {
    max-height: 500px;
  }
  @include laptopWidth {
    max-height: 350px;
  }
  @include thousendWidth {
    width: 100%;
  }
  @include phoneOrTablet {
    width: 100%;

  }
}