@import "scss/utils";

.input_layout {
  position: relative;
  @include phoneOrTablet {
    width: 100%;
  }
}


.input_wrapper {
  position: relative;
  height: 40px;
  width: 250px;
  border-radius: 12px;
  @include thousendWidth {
    width: 180px;
  }
  @include phoneOrTablet {
    width: 100%;
  }
}

.input {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 5px 42px 5px 10px;
  @include MontserratRegular(16px);
  @include thousendWidth {
    font-size: 13px;
  }
}

.input_arrow_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 12px;
  top: calc(50% - 17px);
  right: 10px;
  background: $accent-color;
  cursor: pointer;
  transition: .3s all ease-in-out;
  padding: 8px 12px;
  &:hover {
    background: $accent-color-darker;
  }
  @include thousendWidth {
    padding: 8px 10px;
    top: calc(50% - 15px);
  }
}

.input_arrow_svg {
  position: absolute;
  top: calc(50% - 9px);
  right: 15px;
  transition: .2s all ease-in-out;
  @extend .svg;
  &:hover {
    color: $gray;
  }
}

.input_arrow_svg_open {
  transform: rotate(180deg);
  top: calc(50% - 12px);
}