@import "scss/utils";
@import "app/(Main)/working-areas/components/EditWorkingArea/EditWorkingArea.module.scss";

.edit_form_location {
  @extend .edit_form;
  @include fullHd {
    max-height: 750px;
    width: 850px;
  }
  width: 700px;
  @include thousendWidth {
    width: 575px;
  }
  @include phoneOrTablet {
    width: 410px;
  }
  @include phone {
    width: 100%;
  }
  max-height: 550px;
}

.input {
  width: 100%;
}

.pick_list_wrapper {
  height: 100%;
  @include thousendWidth {
    width: 100%;
  }
  @include phoneOrTablet {
    width: 100%;
  }
}

.title {
  text-align: center;
  @include MontserratSemiBold(24px);
  color: white;
  margin-bottom: 20px;
  @include phoneOrTablet {
    font-size: 20px;
    text-align: left;
  }
}

.button_wrapper {
  @include fullHd {
    width: 100%;
  }
  width: 100%;
  margin: 10px auto;
  @include phoneOrTablet {
    width: 100%;
  }
}