@import "scss/utils";

.card_title {
  @extend .page_title;
  font-size: 24px;
  text-align: center;
  @include phone {
    font-size: 20px;
  }
}

.location_card {
  width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  @include thousendWidth {
    width: 500px;
  }
  @include phone {
    width: 100%;
  }
}

.form_button {
  width: 100%;
  margin: 20px auto 0;

}