@import "scss/utils";

.button {
  max-height: 100%;
  width: 100%;
  padding: 11px 40px;
  color: white;
  border-radius: 12px;
  background-color: $accent-color;
  cursor: pointer;
  transition: .2s all ease-in-out;
  &:hover {
    background-color: #2BBB86;
  }
  &:active {
    background-color: #25A476;
  }
  &:disabled {
    background-color: gray;
    pointer-events: none;
  }
  @include thousendWidth {
    padding: 10px 25px ;
  }
  @include phoneOrTablet {
    width: 100%;
    padding: 8px 30px ;
  }
}

.button_active {
  @extend .button;
  background-color: $accent-color-darker;
  &:hover {
    background-color: #2A7D81;
  }
}

.button_rect {
  min-width: 130px;
  width: 100%;
  height: 40px;
  @include fullHd {
    height: 45px;
  }
  padding: 0 10px;
  border: 1px solid $border-gray;
  border-radius: 8px;
  @include MontserratRegular(20px);
  color: white;
  background-color: $additional-dark;
  cursor: pointer;
  transition: .2s all ease-in-out;
  &:hover {
    border-color: $dark-main;
    background-color: $dark-main;
  }
  &:active {
    background-color: #212121;
  }
  @include phoneOrTablet {
    height: 35px;
    font-size: 18px;
  }
}

.button_rect_active {
  @extend .button_rect;
  background-color: $dark-main;
}