@import "scss/utils";

.button {
  width: 100%;
  padding: 13px 40px;
  color: white;
  border-radius: 12px;
  background-color: $accent-color;
  cursor: pointer;
  transition: .2s all ease-in-out;
  &:hover {
    background-color: #2BBB86;
  }
  &:active {
    background-color: #25A476;
  }
  &:disabled {
    background-color: gray;
    pointer-events: none;
  }
  @include phoneOrTablet {
    width: 100%;
    padding: 8px 30px ;
  }
}