@import "scss/utils";

.bigger {
  @include fullHd {
    font-size: 24px;
  }
  @include MontserratRegular(20px);
  color: red;
  @include phoneOrTablet {
    font-size: 18px;
  }
}

.smaller {
  @include fullHd {
    font-size: 24px;
  }
  @include MontserratRegular(20px);
  color: $accent-color;

}