@import "scss/utils";

.default_text {
  @include MontserratRegular(16px);

}

.bigger {
  @include fullHd {
    font-size: 20px;
  }
  @include MontserratRegular(18px);
  color: red;
}

.smaller {
  @include fullHd {
    font-size: 24px;
  }
  @include MontserratRegular(20px);
  color: $accent-color;

}