@import "scss/utils";

.settings_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $additional-dark;
  padding-bottom: 30px;
  @include phoneOrTablet {
    padding-bottom: 15px;
  }
}

.default_wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px auto;
  color: white;
  align-items: center;
  @include thousendWidth {
    margin: 30px auto 10px;
  }
}

.title {
  text-align: center;
  @include MontserratSemiBold(24px);
}

.button_wrapper {
  position: absolute;
  left: 0;
  @include phoneOrTablet {
    left: 15px;
  }
  @include phone {
    top: -50px
  }
}
