@import "scss/utils";

.edit_form {
  width: 500px;
}

.form_title {
  text-align: center;
  @include MontserratSemiBold(24px);
  color: white;
  @include phoneOrTablet {
    font-size: 20px;
    text-align: left;
  }
}