@import "scss/utils";

.card_title {
  @extend .page_title;
  text-align: center;
  @include phone {
    font-size: 20px;
    text-align: left;
  }
}

.location_card {
  width: 60%;
  margin: 0 auto;
  background: $dark-main;
  border-radius: 40px;
  padding: 30px 50px;
  @include laptopWidth {
    width: 80%;
  }
  @include phoneOrTablet {
    padding: 25px 40px;
    width: 100%;
  }
  @include phone {
    padding: 20px;
  }
}

.form_button {
  width: 40%;
  margin: 20px auto 0;
  @include thousendWidth {
    width: 100%;
  }
}