@import "scss/utils";
@import "components/UI/Inputs/InputSelect/InputSelect.module.scss";

.input_select {
  @extend .input;
  height: 40px;
  background-color: white;
  border-radius: 25px;
  letter-spacing: 1px;
}

.input_select_many {
  @extend .input_select;
  @include thousendTwoWidth {
    height: 80px;
  }
}

.pseudo_inputs_container {
  min-height: 45px;
  position: relative;
  background-color: white;
  border-radius: 25px;
  padding: 2px;
  border: 2px solid transparent;
  @include phone {
    min-height: 40px;
  }
  &:hover {
    border: 2px solid $gray;
    transition: .1s all ease-in-out;
  }
}

.pseudo_inputs {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  border-radius: 25px;
  cursor: text;
  padding-right: 30px;
  row-gap: 2px;
}

.input_arrow_svg_single {
  @extend .input_arrow_svg;
  top: 15px;
}

.input_radial_wrapper {
  @extend .input_wrapper;
  height: max-content;
  margin-top: 0;
}

.pseudo_input {
  height: 38px;
  width: max-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include MontserratRegular(16px);
  padding: 0 40px 0 10px;

  color: white;
  border-right: 1px solid white;
  @include phone {
    height: 35px;
    padding: 0 35px 0 10px;
  }

  & svg {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 15px;
    @include phone {
      right: 10px;
    }
    color: white;

    &:hover {
      color: red;
    }
  }

  &:first-child {
    border-radius: 25px 0 0 25px;
  }
  &:last-child {
    border-radius: 0 25px 25px 0;
  }

  @include thousendWidth {
    font-size: 14px;
  }
}

.input_list {
  @extend .list_wrapper;
  border-radius: 25px;
  border-left: 2px solid $accent-color;
  border-right: 2px solid $accent-color;
  border-bottom: 2px solid $accent-color;
}

.field_without_label {
  @extend .field;
  height: max-content;
  margin-top: 0;
}

.field_wout_label_many {
  @extend .field_without_label;
  height: 80px;
}

.field_many {
  @extend .field_without_label;
  height: 80px;
}
