@import "scss/utils";

.edit_form {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  row-gap: 20px;
  padding-right: 10px;
  @include fullHd {
    width: 750px;
  }
  width: 650px;
  @include thousendWidth {
    width: 575px;
  }
  @include phoneOrTablet {
    width: 410px;
    row-gap: 15px;
  }
  @include phone {
    width: 100%;
    margin-top: 20px;
  }
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }
}

.form_title {
  text-align: center;
  @include MontserratSemiBold(24px);
  color: white;
  margin-bottom: 20px;
  @include phoneOrTablet {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
  }
}

.button_wrapper {
  width: 75%;
  margin: 10px auto 0;
  @include phoneOrTablet {
    width: 100%;
    margin-top: 10px;
  }
}