@import "scss/utils";

.form_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include thousendWidth {
    max-height: 100%;
    width: 100%;
    flex-direction: column;
  }
}

.form {
  width: 100%;
  display: flex;
  grid-column-gap: 30px;
  background: $dark-main;
  border-radius: 30px;
  @include laptopWidth {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  @include thousendWidth {
    flex-direction: row;
  }
  @include phoneOrTablet {
    flex-direction: column-reverse;
  }

}

.input_name {
  padding-top: 10px;
  width: 65%;
  @include laptopWidth {
    width: 100%;
  }
  @include thousendWidth {
    padding-top: 0;
    width: 65%;
  }
  @include phoneOrTablet {
    padding-top: 5px;
    width: 100%;
  }
}

.input_count {
  padding-top: 10px;
  width: 35%;
  @include laptopWidth {
    width: 100%;
  }
  @include thousendWidth {
    padding-top: 0;
    width: 30%;
  }
  @include phoneOrTablet {
    padding-top: 10px;
    width: 100%;
  }
}

.form_button {
  width: 100%;
  margin-top: 20px;
}
