@import "scss/utils";

.modal_background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  z-index: 1000;
}

.modal {
  position: relative;
  background: $dark-main;
  padding: 50px 100px;
  border-radius: 40px;
  border: 1px solid #414141;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.10);
  @include phoneOrTablet {
    padding: 50px 50px;
  }
  @include phone {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 40px 20px 30px;
  }
}

.exit_svg {
  @extend .svg;
  position: absolute;
  top: 20px;
  right: 20px;
  color: $gray;
  transition: .2s all ease-in-out;
  &:hover {
    color: white;
  }
}