@import "scss/utils";

.keys {
  padding-bottom: 20px;
}

.actions_data_title {
  @include MontserratSemiBold(28px);
  text-align: center;
  color: white;
  @include phoneOrTablet {
    font-size: 20px;
  }
}

.actions_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}

.button_wrapper {
  margin-top: 20px;

  width: 100%;
}


.download_button_wrapper {
  width: max-content;
  margin: 0 0 10px 20px;
  @include phoneOrTablet {
    width: calc(100% - 70px);
    margin: 19px 35px;
  }
}