@import "scss/utils";

.keys {
  padding-bottom: 20px;
}

.key_generate_button {
  width: max-content;
  margin-right: auto;
}

.actions_data_title {
  @include MontserratSemiBold(28px);
  text-align: center;
  color: white;
  @include phoneOrTablet {
    font-size: 20px;
  }
}

.actions_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}

.button_wrapper {
    width: 50%;
    margin: 20px auto 0;
  @include phoneOrTablet {
    width: 100%;
  }
}


.download_button_wrapper {
  width: max-content;
  margin: 0 0 10px 20px;
  @include phoneOrTablet {
    margin: 15px 20px;
  }
}