@import "scss/utils";

.keys {
  padding-bottom: 20px;
}

.key_generate_button {
  width: max-content;
  margin-right: auto;
}

.actions_data_title {
  @include MontserratSemiBold(28px);
  text-align: center;
  color: white;
  @include phoneOrTablet {
    font-size: 20px;
  }
}

.actions_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}

.action_button_solo {
  width: max-content;
  margin: 0 0 20px;
}

.button_wrapper {
    width: 50%;
    margin: 20px auto 0;
  @include phoneOrTablet {
    width: 100%;
  }
}


.actions_buttons_wrapper {
  display: flex;
  justify-content: space-between;
  @include phoneOrTablet {
    flex-direction: column;
    row-gap: 20px;
    margin-left: 25px;
  }
  @include phone {
    margin-left: 10px;
    row-gap: 15px;
  }
}

.actions_button {
  width: max-content;
}