@import "scss/utils";

.working_title {
  @extend .page_title;
  @include phoneOrTablet {
    width: calc(100% - 40px);
    margin: 20px auto 0;
  }
}

.working_children {
  @extend .children;
  @include phoneOrTablet {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}