@import "scss/utils";

.tippy_filters_wrapper {
  width: 200px;
  @include smallTablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 68px;
  }
}

.tippy_button {
  max-height: 40px;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 11px 15px;
  margin-top: 5px;
  color: $dark-main;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
  transition: .2s all ease-in-out;
  font-size: 14px;
  &:hover {
    background-color: transparentize(white, 0.1);
  }
  &:active {
    background-color: transparentize(white, 0.2);
  }
  &:disabled {
    background-color: gray;
    pointer-events: none;
  }
  @include thousendWidth {
    padding: 10px 15px ;
  }
  @include smallTablet {
    width: calc(100% - 15px);
    max-height: initial;
    padding: 12px 15px;
    white-space: nowrap;
  }
  @include phone {
    width: 222px;
    height: 40px;
  }
}

.tippy_wrapper {
  position: relative;
  @include laptopWidth {
    width: 100%;
  }
  @include thousendWidth {
    width: 100%;
  }
  @include phoneOrTablet {
    width: 100%;
  }
}



.tippy_desc {
  @include MontserratRegular(16px);
  color: $gray;
  @include thousendWidth {
    font-size: 15px;
  }
  @include phoneOrTablet {
    font-size: 14px;
  }
  @include phone {
    font-size: 13px;
  }
}

.tippy_title {
  @include MontserratRegular(18px);
  color: white;
  margin: 10px 0;
}

.tippy_subtitle {
  margin-top: auto;
}

.button_wrapper {
  width: 75%;
  margin: 20px auto 0;
  @include phoneOrTablet {
    width: 100%;
  }
}

.time_management_button_wrapper {
  @include phoneOrTablet {
    width: 100%;
  }
}

.content_wrapper {
  width: 350px;
  padding: 10px;
  background-color: $additional-dark;
  box-shadow: 0 0 0 .4px white;
  border-radius: 10px;
  @include phone {
    width: 300px;
  }
}

.locations {
  padding: 10px 0;
}

.location_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  @include MontserratRegular(16px);
  color: white;
  border-bottom: 1px solid #575757;
  &:last-child {
    border-bottom: none;
  }
}

.delete_svg {
  @extend .svg;
  width: 20px;
  height: 20px;
  &:hover {
    color: red;
  }
}