@import "scss/utils";

.tippy_button {
  max-height: 100%;
  width: 100%;
  padding: 11px 40px;
  color: white;
  border-radius: 12px;
  background-color: $accent-color;
  cursor: pointer;
  transition: .2s all ease-in-out;
  &:hover {
    background-color: #2BBB86;
  }
  &:active {
    background-color: #25A476;
  }
  &:disabled {
    background-color: gray;
    pointer-events: none;
  }
  @include thousendWidth {
    padding: 10px 25px ;
  }
  @include phoneOrTablet {
    width: 100%;
    padding: 8px 30px ;
  }
}

.tippy_wrapper {
  position: relative;
}

.tippy_title {
  @include MontserratRegular(18px);
  color: white;
  margin: 10px 0;
}

.button_wrapper {
  margin-top: 10px;
}

.content_wrapper {
  width: 350px;
  padding: 10px;
  background-color: $additional-dark;
  box-shadow: 0 0 0 .4px white;
  border-radius: 10px;
}

.locations {
  padding: 10px 0;
}

.location_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  @include MontserratRegular(16px);
  color: white;
  border-bottom: 1px solid #575757;
  &:last-child {
    border-bottom: none;
  }
}

.delete_svg {
  @extend .svg;
  width: 20px;
  height: 20px;
  &:hover {
    color: red;
  }
}