@import "scss/utils";

.info_wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.buttons_wrapper {
  display: flex;
  column-gap: 20px;
  margin-bottom: 30px;
  @include phoneOrTablet {
    flex-direction: column;
    row-gap: 20px;
    width: calc(100% - 40px);
    margin: 0 auto 30px;
  }
}

