@import "scss/utils";

.input_big {
  @extend .input;
  height: 70px!important;
}

.input_big_rounded {
  @extend .input_big;
  border-radius: 25px;
}

.input {
  width: 100%;
  min-height: 45px;
  border-radius: 10px;
  outline: none;
  border: 2px solid transparent;
  @include MontserratRegular(19px);
  letter-spacing: 1px;
  padding: 0 35px 0 10px;

  background-color: #f5f6f7;
  transition: .2s all ease-in-out;

  @include laptopWidth {
    font-size: 16px;
  }

  @include phone {
    min-height: 40px;
    width: 100%;
    border-radius: 7px;
    font-size: 14px;
  }
  &:hover {
    border: 2px solid $gray;
    transition: .1s all ease-in-out;
  }
  &:focus {
    border: 2px solid $accent-color;
    transition: .1s all ease-in-out;
  }
  &:disabled {
    color: black;
    pointer-events: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.input_rounded {
  @extend .input;
  border-radius: 25px;
}


.input_arrow_svg {
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  transition: .2s all ease-in-out;
  background-color: transparent;
  @extend .svg;
  &:hover {
    color: $gray;
  }
}

.input_arrow_svg_open {
  transform: rotate(180deg);
  top: calc(50% - 12px);
  right: 18px;
}

.input_error {
  background: rgba(0, 0, 0, 0.30);
  color: red;
  border: 2px solid $error-color;
  &:focus {
    border: 2px solid $error-color;
  }
}

.field_noneed {
  height: max-content;
  margin-top: 0;
}

.field_with_label_big {
  @extend .field;
  height: 115px!important;
  margin-top: 0!important;
  justify-content: flex-start!important;
}

.field_big {
  @extend .field;
  height: 95px!important;
  margin-top: 15px;
}

.field_with_label {
  @extend .field;
  height: 65px!important;
  margin-top: 0!important;
  justify-content: flex-start!important;
  @include phone {
    height: 80px!important;
  }
}

.field {
  position: relative;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 80px;
  width: 100%;
}

.input_label {
  width: 100%;
  color: $gray;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
}


.input_label_small {
  width: 100%;
  color: $gray;
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 15px;
  text-align: left;
}

.input_error_label {
  width: 100%;
  color: $error-color;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.input_error_label_hidden {
  @extend .input_error_label
}

.custom_svg {
  position: absolute;
  right: 10px;
  bottom: calc(50% - 10px);
  width: 16px;
  height: 16px;
  color: $gray;
  transition: .2s all ease-in-out;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
